<main class="authorization__background">
    <div class="authorization">
        <div class="authorization__wrapper">
            <h1 class="authorization__title">Sign in</h1>

            {{{form}}}

            {{{button}}}

            {{{registerBtn}}}
        </div>
    </div>
</main>