body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.authorization {
  &__background {
    width: 100%;
    height: 100%;

    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;

    background: #4e54c8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e54c8, #8f94fb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e54c8, #8f94fb);
  }
}

@import "pages/authorization";
@import "pages/chats";
@import "pages/profile";
@import "pages/error";