<div>
    <aside class="profile__sidebar">
        <button class="profile__btn"></button>
    </aside>

    <div class="profile__wrapper">
        <nav class="profile__header">
            <img class="profile__avatar" src="https://via.placeholder.com/150">
            <div class="profile__name">Elon</div>
        </nav>

        <main class="profile__content">
            {{{form}}}
        </main>

        <footer class="profile__footer">
            {{{buttons}}}
        </footer>
    </div>
</div>