<div>
    <aside class="profile__sidebar">
<!--        <button class="profile__btn"></button>-->
        {{{profileBtn}}}
    </aside>

    <div class="profile__wrapper">
        <nav class="profile__header">
            <img class="profile__avatar" src="https://via.placeholder.com/150" alt="profile avatar">
            <div class="profile__name">{{{name}}}</div>
        </nav>

        <main class="profile__content">
            {{{form}}}
        </main>

        <footer class="profile__footer">
            {{{buttons}}}
        </footer>
    </div>
</div>
