<form class="avatar-form" method="post" action="/user/profile/avatar" enctype="multipart/form-data">
    <label for="avatar">
        <img class="profile__avatar" {{#if userAvatar}} src="{{{userAvatar}}}" {{else}} src="https://via.placeholder.com/150" {{/if}}  alt="profile avatar">
    </label>
    <input type="file" id="avatar" name="avatar">
    <button type="submit">Upload Avatar</button>
</form>
