<form class="avatar-form" method="post" action="/user/profile/avatar" enctype="multipart/form-data">
    <label for="avatar">{{{avatar}}}</label>
    <input type="file" id="avatar" name="avatar">
    <button type="submit">Upload Avatar</button>
</form>
