<div>
    <aside class="chats-sidebar">
        <nav class="chats-header">
            {{{profileBtn}}}

            <form class="chats-header__search">
                <input id="new-chat" type="text" name=text" class="chats-header__input" placeholder="Chat title">
                {{{newChatBtn}}}
            </form>
        </nav>
        <ul class="chats-list">
            {{#if chats}}{{chats}}{{/if}}
        </ul>

    </aside>
    <main class="messages">

        <div class="messages__main">
            <div class="messages__block">

                <div class="messages__content">

                </div>
            </div>

        </div>

        <footer class="messages__footer">
            <form action="">
                <input type="message" id="messages__text" placeholder="Message" name="message"/>
                {{{button}}}
            </form>
        </footer>

    </main>
</div>
